/.vscode
viswa.png
viswa.txt
viswa.docx
viswa.pdf
viswa.xlsx
viswa.pptx
viswa.mp4
viswa.mp3
viswa.jpg
viswa.jpeg
viswa.png
viswa.gif
viswa.bmp
viswa.ico
viswa.svg
viswa.zip
viswa.rar
viswa.tar
viswa.gz
viswa.7z
viswa.iso
viswa.dmg
viswa.exe
viswa.msi
viswa.deb
viswa.rpm
viswa.sh
viswa.bat
